// JTK Custom Styles for FoodiePro Genesis Child Theme
@import 'typography';
// Sass Variables and Mixins
$main-color: rgba(117, 200, 201, 1);
$main-lighter: rgba(117, 200, 201, 0.5);
$light-grey: rgba(189, 195, 199, 1.0);
$lighter-grey: rgba(189, 195, 199, 0.5);
$lightest-grey: rgba(189, 195, 199, 0.1);
$basic-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
$bigger-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);

@mixin basic-transition($seconds) {
  transition: box-shadow $seconds cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: $seconds;
}

@mixin basic-button($background-color, $text-color) {
  background: $background-color;
  border: 1px solid $text-color;
  color: $text-color;
  padding: 1rem 1.5rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $text-color;
    color: $background-color;
  }
}

// Basics (Typography, headers)
html {
  font-size: 18px;
}

body {
  @include responsive-text-size("base");
  color: #666;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: "Josefin Sans", sans-serif;
  font-size: auto;
  padding: 0;
}

h1, .text-mega {
  @include responsive-text-size("mega");
}

h2, .text-kilo, .entry-title {
  @include responsive-text-size("kilo");
}

h3, .text-hecto {
  @include responsive-text-size("hecto");
}

h4, .text-deca {
  @include responsive-text-size("deca");
}

.entrytitle, .sitetitle, .widgettitle {
  font-family: "Josefin Sans", sans-serif;
}

// Title
.site-header {
  margin: 0 auto;
  max-width: 842px;
  .title-area {
    padding: 0 1.5rem 1.5rem 1.5rem;
    .site-title {
      a {
        color: $main-color;
      }
    }
  }
}

.foodie-pro {
  .site-header {
    padding: 0;
  }
}
.header-image .site-header {
  background-position: top !important;
  margin-top: 1rem;
}
.header-image .site-title a {
  min-height: 0;
}
.header-image, .title-area {
 .site-description {
    @include responsive-text-size("deca");
    color: $light-grey;
    margin: 3rem 0 0 0;
    text-indent: 0px;
  }
}
// Navbar
.genesis-nav-menu {
  border-bottom-color: $lighter-grey;
  border-top: 0px;
  .menu-item {
    @include responsive-text-size("deca");
    font-weight: 300;
  }
  .sub-menu {
    border-bottom: 5px solid $lighter-grey;
    width: auto;
    .menu-item {
      display: block;
      a {
      white-space: nowrap;
        width: auto;
        &:hover {
          background: $main-color;
          color: white;
        }
      }
    }
  }
}

.content {
  max-width: 720px;
  // width: 720px;
}
.sidebar-primary {
  max-width: 340px;
  width: 340px;
}

.entry-content {
  border-bottom: 1px solid $lighter-grey;
  padding: 0 0 1rem;
  p {
    margin: 0 0 1rem;
  }
  a.more-link {
    @include basic-button(white, $main-color);
  }
}

.home-middle {
  .entry-header .entry-meta {
    margin-top: 0;
  }
  p {
    margin: 1rem 0 0 0;
  }
  .more-link {
    text-align: center;
    width: 100%;
  }
  .alignleft {
    margin-right: 0;
  }
}

.home-bottom {
  .alignleft {
    margin-right: 20px;
  }
}

.home-bottom, .home-middle {
  .entry-title {
    @include responsive-text-size("hecto");
  }
}

article {
  .entry-header {
    .entry-title {
      @include responsive-text-size("hecto"); 
    }
  }
}

.entry-footer .entry-meta {
  border-top: 0;
  // @include responsive-text-size("deci")
}

// Sidebar
.widgettitle {
  @include responsive-text-size("deca");
  text-align: left;
}

// Recipe Index
.widget-area.recipes-top {
  background: $lightest-grey;
  border: 1px solid $lighter-grey;
  .widget_categories, .widget_archive {
    // width: 120px;
    // border-radius: 3px;
    .widget-wrap {
      // background: #fff url('images/dropdown.png') right bottom no-repeat;
      // padding: 10px;
      // overflow: hidden;
      select {
        background: white;
      //   width: 90%;
      //   border: 1px solid #ccc;
      //   border-radius: 0;
      //   box-shadow: none;
      //   background: transparent;
      //   background-image: none;
      //   -webkit-appearance: none;
      }
      // select:focus {
      //   outline: none;
      // }
    }
  }
}
.widget-area.recipes-bottom {
  .featured-content.featuredpost {
    .widget-wrap {
      .widget-title {
        @include responsive-text-size("hecto");
        text-align: center;
      }
      select {
        .select-style {
            border: 1px solid #ccc;
            width: 120px;
            border-radius: 3px;
            overflow: hidden;
            background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
        }

        .select-style select {
            padding: 5px 8px;
            width: 130%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
        }

        .select-style select:focus {
            outline: none;
        }
      }

      .entry {
        .entry-header {
          .entry-title {
            @include responsive-text-size("base");
          }
        }
      }
      .more-from-category {
        a {
          @include basic-button(white, $main-color);
        }
      }
    }
  }
}
.recipes-bottom .widget {
  border-bottom: 1px solid $lighter-grey;
}