// JTK Custom Styles for FoodiePro Genesis Child Theme
@import 'typography';
// Sass Variables and Mixins
$main-color: #75C8C9;
$light-grey: rgba(0, 0, 0, 0.06);
$basic-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
$bigger-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);

@mixin basic-transition($seconds) {
  transition: box-shadow $seconds cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: $seconds;
}

// Basics (Typography, headers)
html {
  // font-size: 125%
}

body {
  @include responsive-text-size("base");
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: "Josefin Sans", sans-serif;
  font-size: auto;
  padding: 0;
}

h1, .text-mega {
  @include responsive-text-size("mega");
}

h2, .text-kilo, .entry-title {
  @include responsive-text-size("kilo");
}

h3, .text-hecto {
  @include responsive-text-size("hecto");
}

h4, .text-deca {
  @include responsive-text-size("deca");
}

.entrytitle, .sitetitle, .widgettitle {
  font-family: "Josefin Sans", sans-serif;
}

// Title
.site-logo {
  margin: 0 auto;
  max-width: 680px;
  text-align: center;
}
.header-image {
 .site-description {
    @include responsive-text-size("deca");
    text-indent: 0px;
  }
}
// Navbar

// Main Content
.home-bottom {
  .entry-title {
    @include responsive-text-size("hecto");
  }
}

// Sidebar
.widgettitle {
  @include responsive-text-size("deca");
  text-align: left;
}
// Responsive
